.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 92px;
  row-gap: 44px;
  flex-wrap: wrap;
  position: relative;
  max-width: 520px;
  padding-top: 76px;
  z-index: 1;

  @media (max-width: 768px) {
    padding-top: 36px;
  }

  @media (max-width: 480px) {
    column-gap: 60px;
    max-width: 260px;
  }

  &:after {
    content: '';
    display: block;
    width: 312px;
    height: 278px;
    position: absolute;
    background-image: url("@/assets/images/bg-triangle.svg");
    background-size: cover;
    z-index: -1;

    @media (max-width: 768px) {
      width: 250px;
      height: 223px;
    }

    @media (max-width: 480px) {
      width: 180px;
      height: 160px;
    }
  }
}