.option {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background-color: white;
  padding: 12%;
  box-shadow: inset 0px -12px 0px -4px rgba(0,0,0,0.15);

  @media (max-width: 1280px) {
    width: 300px;
    height: 300px;
  }

  @media (max-width: 768px) {
    width: 180px;
    height: 180px;
  }

  @media (max-width: 480px) {
    width: 130px;
    height: 130px;
  }

  &--active {
    width: 210px;
    height: 210px;
    cursor: pointer;
    transition: box-shadow .2s linear;

    @media (max-width: 768px) {
      width: 150px;
      height: 150px;
    }

    @media (max-width: 480px) {
      width: 100px;
      height: 100px;
    }

    &:hover {
      & > div {
        transition: background-color .2s linear;
        background-color: lightgrey;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0px 12px 0px -4px rgba(0,0,0,0.15);
  }

  &__image {
    @media (max-width: 480px) {
      width: 32px;
    }

    &--big {
      width: 116px;

      @media (max-width: 768px) {
        width: 68px;
      }

      @media (max-width: 480px) {
        width: 44px;
      }
    }
  }
}