div {
  font-family: Calibri;
  font-size: 16px;
}

h1,
h2,
.h1,
.h2 {
  font-family: Calibri;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 100%;
}

h1,
.h1 {
  font-size: 44px;

  @media (max-width: 768px) {
    font-size: 32px;
  }

  @media (max-width: 480px) {
    font-size: 28px;
  }
}

h2,
.h2 {
  font-size: 32px;

  @media (max-width: 768px) {
    font-size: 24px;
  }

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.bold {
  font-weight: bold;
}
